--
-- PostgreSQL database dump
--

\restrict kY6zOEooXrIjq4BJKHjmRderZTFaZU4J4RMJLHd21mvAmz9bQHeCjlsdV4hqVGK

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: habilidade; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.habilidade (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text
);


ALTER TABLE public.habilidade OWNER TO admin;

--
-- Name: habilidade_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.habilidade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habilidade_id_seq OWNER TO admin;

--
-- Name: habilidade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.habilidade_id_seq OWNED BY public.habilidade.id;


--
-- Name: pokemon; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pokemon (
    id integer NOT NULL,
    numero_pokedex integer NOT NULL,
    nome character varying(100) NOT NULL,
    altura numeric(5,2),
    peso numeric(5,2),
    hp_base integer,
    ataque_base integer,
    defesa_base integer,
    data_registro timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pokemon OWNER TO admin;

--
-- Name: pokemon_habilidade; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pokemon_habilidade (
    pokemon_id integer NOT NULL,
    habilidade_id integer NOT NULL,
    is_oculta boolean DEFAULT false
);


ALTER TABLE public.pokemon_habilidade OWNER TO admin;

--
-- Name: pokemon_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.pokemon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pokemon_id_seq OWNER TO admin;

--
-- Name: pokemon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.pokemon_id_seq OWNED BY public.pokemon.id;


--
-- Name: pokemon_tipo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pokemon_tipo (
    pokemon_id integer NOT NULL,
    tipo_id integer NOT NULL
);


ALTER TABLE public.pokemon_tipo OWNER TO admin;

--
-- Name: teste; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teste (
    id integer CONSTRAINT table_name_id_not_null NOT NULL,
    create_time date,
    name character varying(255)
);


ALTER TABLE public.teste OWNER TO admin;

--
-- Name: table_name_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.teste ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.table_name_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tipo (
    id integer NOT NULL,
    nome character varying(50) NOT NULL
);


ALTER TABLE public.tipo OWNER TO admin;

--
-- Name: tipo_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tipo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_id_seq OWNER TO admin;

--
-- Name: tipo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tipo_id_seq OWNED BY public.tipo.id;


--
-- Name: habilidade id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.habilidade ALTER COLUMN id SET DEFAULT nextval('public.habilidade_id_seq'::regclass);


--
-- Name: pokemon id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon ALTER COLUMN id SET DEFAULT nextval('public.pokemon_id_seq'::regclass);


--
-- Name: tipo id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipo ALTER COLUMN id SET DEFAULT nextval('public.tipo_id_seq'::regclass);


--
-- Name: habilidade habilidade_nome_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.habilidade
    ADD CONSTRAINT habilidade_nome_key UNIQUE (nome);


--
-- Name: habilidade habilidade_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.habilidade
    ADD CONSTRAINT habilidade_pkey PRIMARY KEY (id);


--
-- Name: pokemon_habilidade pokemon_habilidade_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_habilidade
    ADD CONSTRAINT pokemon_habilidade_pkey PRIMARY KEY (pokemon_id, habilidade_id);


--
-- Name: pokemon pokemon_numero_pokedex_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon
    ADD CONSTRAINT pokemon_numero_pokedex_key UNIQUE (numero_pokedex);


--
-- Name: pokemon pokemon_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon
    ADD CONSTRAINT pokemon_pkey PRIMARY KEY (id);


--
-- Name: pokemon_tipo pokemon_tipo_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_tipo
    ADD CONSTRAINT pokemon_tipo_pkey PRIMARY KEY (pokemon_id, tipo_id);


--
-- Name: teste table_name_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teste
    ADD CONSTRAINT table_name_pkey PRIMARY KEY (id);


--
-- Name: tipo tipo_nome_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipo
    ADD CONSTRAINT tipo_nome_key UNIQUE (nome);


--
-- Name: tipo tipo_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tipo
    ADD CONSTRAINT tipo_pkey PRIMARY KEY (id);


--
-- Name: pokemon_habilidade pokemon_habilidade_habilidade_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_habilidade
    ADD CONSTRAINT pokemon_habilidade_habilidade_id_fkey FOREIGN KEY (habilidade_id) REFERENCES public.habilidade(id) ON DELETE CASCADE;


--
-- Name: pokemon_habilidade pokemon_habilidade_pokemon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_habilidade
    ADD CONSTRAINT pokemon_habilidade_pokemon_id_fkey FOREIGN KEY (pokemon_id) REFERENCES public.pokemon(id) ON DELETE CASCADE;


--
-- Name: pokemon_tipo pokemon_tipo_pokemon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_tipo
    ADD CONSTRAINT pokemon_tipo_pokemon_id_fkey FOREIGN KEY (pokemon_id) REFERENCES public.pokemon(id) ON DELETE CASCADE;


--
-- Name: pokemon_tipo pokemon_tipo_tipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pokemon_tipo
    ADD CONSTRAINT pokemon_tipo_tipo_id_fkey FOREIGN KEY (tipo_id) REFERENCES public.tipo(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict kY6zOEooXrIjq4BJKHjmRderZTFaZU4J4RMJLHd21mvAmz9bQHeCjlsdV4hqVGK

